<h1> Send a pet to the Pound </h1>
<h3>...such a cruel world</h3>



<div class="maincontainer">
    <p *ngIf="name['errors']"> Name must be at least 3 characters long </p>
    <p *ngIf="type['errors']"> Type must be at least 3 characters long </p>
    <p *ngIf="description['errors']"> Description must be at least 3 characters long </p>

    <p *ngIf="errors" >{{errors.message|json}}</p> 

<p>
  <input type="text" name="name" [(ngModel)]="newpet.name" 
  placeholder=" What's this pet's name?" minlength="3" required #name="ngModel"  >
</p>
<p>
  <input type="text" name="type" [(ngModel)]="newpet.type" 
  placeholder=" What kind of pet?"  minlength="3" #type="ngModel"  >
</p>
<p>
  <input type="text" name="description" [(ngModel)]="newpet.description" 
  placeholder=" Tell me about this pet" minlength="3" #description="ngModel" >
</p>

<h6> Any Skills? </h6>
<p><input type="text" name="skillone" placeholder=" First Skill" [(ngModel)]="newpet.skillone"></p>
<p><input *ngIf="newpet.skillone" type="text" name="skilltwo" placeholder=" Second Skill" [(ngModel)]="newpet.skilltwo"></p>
<p><input *ngIf="newpet.skilltwo"type="text" name="skillthree" placeholder=" Thrid Skill" [(ngModel)]="newpet.skillthree"></p>

<p>
    <button class="wipe" *ngIf="name.valid&&type.valid&&description.valid" 
    (click)="createPet()"> Create </button>
    <button class="wipe"(click)="resetForm()" style="margin-left:20px">Cancel</button>    
</p>
</div>

